.posts-page-container{
    margin-top: 50px;
}

.posts-page-title{
    margin-bottom: 30px;
}

.posts-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px; 
    margin-bottom: 100px;
    max-width: 100%; 
}

.single-tag {
    border: 1px solid black;
    margin-bottom: 200px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
}
.single-tag:hover{
    color: purple;
}