.home-container {
    margin-top: 20px;
}


.home-img {
    width: 200px;
}

.home-title {
    margin-bottom: 10px;
}

.home-par {
    font-size: 19px;
}

.icons {
    margin-top: 25px;
}

.home-icon {
    font-size: 30px !important;
    margin-right: 5px;
}

.post-list-title {
    margin-bottom: 15px;
    font-size: 22px;
}

.see-all-posts-container {
    text-align: center;
    margin-top: 20px;
}

.see-all-posts-link span {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.see-all-posts-link span:hover {
    color:blueviolet;
    text-decoration: underline;
}