.projects-container{
    margin-top: 50px;
}

.projects-title{
    margin: 50px 0 ;
}

.project-container{
    padding-bottom: 5px;
}

.project-img{
    width: 50%;
    border: solid 1px;
}

.project-links{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-link{
    cursor: pointer;
}

.project-par{
    line-height: 23px;
}

.project-hr{
    width: 30%;
    margin: 40px auto;
}

.project-date{
    font-size: 11px;
    color: gray;
}