.techstack-container{
    margin: 50px 0;
}

.techstack-title{
    margin-bottom: 50px;
}

.techstack-par{
    font-size: 20px;
    margin-bottom: 15px;
}

.tech-tools{
    font-weight: 600;
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}